button {
    background-color: brown;
    color: white;
    padding: 25px;
    border-radius: 10px;
}

button:hover {
    background-color: violet;

}

button:focus {
    background-color: red;
}
