h1, p, div, h3, b {
    border: 3px;
    border-color: blue;
    border-style: double;
    border-radius: 20px 0;
}

h1 {
    margin: 10px;
    padding: 30px;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
}

div {
    padding: 25px;
    padding-left: 10px;
    padding-top: 29px;
    padding-right: 30px;
    padding-bottom: 5px;

}

p {
    padding: 50px 10px;
    margin: 50px 20px;
}

p {
    color:red;
    font-size: 30px;
    background-color: blue;
}

b {
    color:black;
}