ul {
    list-style-type: circle;
    background-color: brown;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

li {
    display: inline;
}

a {    
    text-decoration: underline;
    color: white;
}

a:hover {
    background-color: antiquewhite;
    color: black;

}
p {
    cursor: grab;

}

div {
    width: 350px;
    height: 300px;
    background-color: beige;
    overflow-y: scroll;

}