/* {
    padding: 0;
    margin: 0;
} */


.card {
    position: relative;
    background-color: brown;
    
    width: 500px;
    height: 500px ;
    margin: 5PX;
}


/*.card h3 {
    position: absolute;
    background-color: violet;
    color: white;
    bottom: 0px;
    left: 200PX;
} */

/*.card h3 {
    position: fixed;
    background-color: violet;
    color: white;
    bottom: 0px;
    left: 200PX;
} */

.card h3 {
float: right;
background-color: blueviolet;
color: white;
margin: 5px;

}

#cleaner {
    clear: both;
}
